body {
    background-color: #000;
    display: flex;
    justify-content: center;
    color: #fff;
}

.resultPanel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gamePanel {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.image-square {
   /* -webkit-box-shadow: 6px 10px 44px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 44px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 44px 0px rgba(0,0,0,0.75);
    border-radius: 15px;*/
}

#introScreen {
    text-align: center;
    margin-top: 20%;
    color: #fff;
}

#introScreen button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e0b0c7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#introScreen button:hover {
    background-color: #af5781;
}


#gameScreen button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gamePanel .rovnake {
  background-color: #1E9F25;
}

.gamePanel .rozne {
  background-color: #AD262D;
}


