* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#FFDAB9;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
   // background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin-bottom: 10px;
}

canvas {
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 10px;
}

.message {
    display: none;
    font-size: 1.4em;
    color: green;
    margin-top: 20px;
    font-weight: bold;
}

	  
